<div class='row mb-4'>
    <div class='col-12'>
      <h1>Admin: Part-Subgroup Mapper</h1>
    </div>
  </div>
  <div class='row mb-4'>
    <div class='col-12'>
      <select class="form-control" #selectedGroup (change)='changeGroup(selectedGroup.value)'>
        <option value="-1">Select Group</option>
        <option [value]='g.id' *ngFor='let g of groups'>{{ g.name }}</option>
      </select>
    </div>
  </div>

  <div class='row mb-4'>
    <div class='col-xs-12 col-5'>
      <button type="button" class="btn btn-primary btn-block" *ngIf="selectedSubgroup" (click)="addPartSubgroups()">>></button>
    </div>
    <div class='col-xs-12 col-lg-2'>
      <button type="button" class="btn btn-primary btn-block" *ngIf="selectedGroupId > 0" (click)="newSubgroup()">New Subgroup</button>
    </div>
    <div class='col-xs-12 col-5'>
      <button type="button" class="btn btn-primary btn-block" *ngIf="selectedSubgroup" (click)="removePartSubgroups()"><<</button>
    </div>
  </div>

  <div class='row mb-4'>
    <div class='col-5 part-box-container'>
      <div class="part-box border rounded" *ngFor='let p of unmappedParts' [ngClass]="{'border-primary': p.selected }" (click)="toggleSelectedUnmapped(p)" >
        <img class="img-fluid mx-auto d-block" [src]='p.partImageUrl'>
        <div class="text-info text-left">
          {{ p.partNumber }}
          <span class="float-right">{{ p.partCount }}pcs</span>
        </div>
        <span class='text-info'>{{ p.name }}</span>
      </div>
    </div>
    <div class='col-2'>
      <div class="icon-box border rounded mb-2" *ngFor='let s of subGroups' [ngClass]="{'border-primary': s.selected }" (click)="changeSubgroup(s)" >
        <img [src]='groupIconUrl()' height="50" width="32">
        <img class="" [src]='s.iconUrl' height="50" width="152">
      </div>
    </div>
    <div class='col-5 part-box-container'>
      <div class="part-box border rounded" *ngFor='let p of subgroupParts' [ngClass]="{'border-primary': p.selected }" (click)="toggleSelectedSubgroup(p)" >
        <img class="img-fluid mx-auto d-block" [src]='p.partImageUrl'>
        <div class="text-info text-left">
          {{ p.partNumber }}
          <span class="float-right">{{ p.partCount }}pcs</span>
        </div>
        <span class='text-info'>{{ p.name }}</span>
      </div>
    </div>
  </div>
  <ngx-spinner size="large" color="#3399F3" type="ball-pulse-rise"></ngx-spinner>