<div class='row mb-4'>
  <div class='col-12'>
    <h1>Admin: Part-Group Mapper</h1>
    <select #selectedCategory (change)='fillPartsForCategory(selectedCategory.value)'>
      <option value="">Select Category</option>
      <option [value]='c.id' *ngFor='let c of categories'>{{ c.name }} ({{ c.partCount }})</option>
    </select>
    <br>
    <select #selectedGroup>
      <option value="">Select Group</option>
      <option [value]='g.id' *ngFor='let g of groups'>{{ g.name }}</option>
    </select>
  </div>
</div>
<div class='row part-box-container'>
    <div class="part-box border rounded" *ngFor='let p of parts' [ngClass]="{'border-primary': p.selected }" (click)="toggleSelected(p)" >
      <img class="img-fluid mx-auto d-block" [src]='p.partImageUrl'>
      <span class='text-info'>{{ p.name }}</span>
    </div>
</div>