<h1>{{pageTitle}}</h1>
<div *ngIf='set'>
    <div><img [src]='set.setImageUrl' [style.width.px]='imageWidth'> </div>
    <div>{{ set.setNumber }}</div>
    <div>{{ set.name }}</div>                    
    <div>{{ set.theme }}</div>          
    <div>Parts Total: {{ partsTotal }}</div>
    <div>Parts Found: {{ partsFound }}</div>
    <div>Distinct Part Count: {{ partsDistinctTotal }}</div>
    <div>Distinct Part Remaining: {{ partsDistinctRemaining }}</div>
</div>

<div class="btn-group btn-group-toggle" ngbRadioGroup name="filteredByOptions" [(ngModel)]="filteredBy" (change)="performFilter()">
    <label ngbButtonLabel class="btn-primary">
      <input ngbButton type="radio" value="all"> All Parts
    </label>
    <label ngbButtonLabel class="btn-primary">
      <input ngbButton type="radio" value="find"> Still Need To Find
    </label>
    <label ngbButtonLabel class="btn-primary">
      <input ngbButton type="radio" value="found"> Found All
    </label>
</div>

<button type="button" class="btn btn-danger" (click)="clearAllPartsFound()">Clear All Found Parts</button>

<div class='table-responsive'>
    <table class='table' *ngIf='visibleSetParts && visibleSetParts.length'>
        <thead>
            <tr>
                <th> </th>
                <th (click)="performSort('partNumber')">Part No.</th>
                <th (click)="performSort('name')">Name</th>  
                <th (click)="performSort('color')">Color</th>                    
                <th (click)="performSort('need')">Need</th>               
                <th>Found</th>
                <th> </th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let setPart of visibleSetParts'>
                <td><img [src]='setPart.partImageUrl' [style.width.px]='setPartWidth' [style.margin.px]='imageMargin' (click)="openModalImage(setPart)" > </td>
                <td>{{ setPart.partNumber }}</td>
                <td>{{ setPart.name }}</td>
                <td>{{ setPart.color }}</td>
                <td>{{ setPart.quantityNeeded }}</td>
                <td>{{ setPart.quantityFound }}</td>
                <td><button class='btn btn-success' (click)='updatePartFoundCount(setPart)' > {{ setPart.quantityRemaining }} More Found</button> <input class="form-control form-control-sm" type='number' [(ngModel)]='setPart.quantityRemaining'></td>
                <td><button class='btn btn-warning' (click)='clearPartFoundCount(setPart)' *ngIf='setPart.quantityFound != 0' >Clear Found</button></td>
            </tr>
        </tbody>
    </table>
</div>