<div class='panel panel-primary'>
    <div class='panel-body'>
        <div class='row'>
            <div class='col-md-2'>Filter by:</div>
            <div class='col-md-4'>
                <input type='text' [(ngModel)]='listFilter' />
            </div>
        </div>
        <div class='row'>
            <div class='col-md-6'>
                <h3>Filtered by: {{ listFilter }}</h3>
            </div>
        </div>
    </div>
    <div class='table-responsive'>
        <table class='table' *ngIf='filteredSets && filteredSets.length'>
            <thead>
                <tr>
                    <th> </th>
                    <th>Set No.</th>
                    <th>Name</th>                    
                    <th>Theme</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let set of filteredSets'>
                    <td><img [src]='set.setImageUrl' [style.width.px]='imageWidth' [style.margin.px]='imageMargin' (click)="openModalImage(set)" > </td>
                    <td><a [routerLink]="['/sets', set.setNumber]">{{ set.setNumber }}</a></td>
                    <td>{{ set.name }}</td>                    
                    <td>{{ set.theme }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<ng-template #set let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
    </div>
    <div class="modal-body">
        <img [src]='set.setImageUrl' >
    </div>
    <div class="modal-footer">
    </div>
</ng-template>