<div class='panel panel-primary'>
    <div class='panel-heading'>
        Sets We Own
    </div>
    <div class='panel-body'>
        <div class='row'>
            <div class='col-md-2'>Filter by:</div>
            <div class='col-md-4'>
                <input type='text' [(ngModel)]='listFilter' />
            </div>
        </div>
        <div class='row'>
            <div class='col-md-6'>
                <h3>Filtered by: {{ listFilter }}</h3>
            </div>
        </div>
    </div>
    <div class='table-responsive'>
        <table class='table' *ngIf='sets && sets.length'>
            <thead>
                <tr>
                    <th> </th>
                    <th>Set No.</th>
                    <th>Name</th>                    
                    <th>Theme</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let set of sets'>
                    <td><img [src]='set.set_img_url' [style.width.px]='imageWidth' [style.margin.px]='imageMargin' > </td>
                    <td>{{ set.set_num }}</td>
                    <td>{{ set.name }}</td>                    
                    <td>{{ set.theme }}</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>