<div class='row mb-4'>
    <div class='col-12'>
        <h1>My Lego Sets</h1>
        <div>Filter By: <input type='text' [(ngModel)]='listFilter' /></div>
    </div>
</div>
<div class='card-columns' *ngIf='filteredSets && filteredSets.length'>
    <div class='card text-center border-warning' (click)='goToSet(set.setNumber)' *ngFor='let set of filteredSets' [ngClass]="{'border-warning':set.partsFound > 0}" >                    
        <div class='card-body'>
            <h4>{{ set.name }}</h4>
            <img class="img-fluid mx-auto d-block" [src]='set.setImageUrl'>
            <div class='text-left'>
                <span class='text-info'>Set# {{ set.setNumber }}</span>
                <span class='float-right text-info'>{{ set.partsNeeded }} parts</span>
            </div>                            
            <div>{{ set.theme }}</div>
        </div>
        <div class='card-footer text-white bg-warning' *ngIf='set.partsFound > 0'>
            Found {{ set.partsFound }} Parts
        </div>
    </div>
</div>

<ngx-spinner size="large" color="#3399F3" type="ball-pulse-rise"></ngx-spinner>